<div class="ui four stackable inverted cards">
  <div class="card">
    <div class="middle aligned center aligned content">
      <i class="huge red ${_station.latestReading?.weatherIcon} icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        Weather
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.date.toLocaleString()}
      </div>
      <div class="meta">
        ${_station.latestReading?.weatherCondition}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="middle aligned center aligned content">
      <div class="center aligned">
        <i class="huge blue temperature low icon"></i>
        <i class="big blue ${_station.stationAnalytics?.temperatureTrendIcon} icon"></i>
      </div>
      <div class="header">&nbsp;</div>
      <div class="center aligned header">
        Temp
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.temperature?.round(1)} °C
      </div>
      <div class="meta">
        ${_station.latestReading?.tempInFahrenheit?.round(1)} °F
      </div>
      <div class="meta">
        Max: ${_station.stationAnalytics?.maxTemperature?.round(1)} °C
      </div>
      <div class="meta">
        Min: ${_station.stationAnalytics?.minTemperature?.round(1)} °C
      </div>
    </div>
  </div>
  <div class="card">
    <div class="center aligned middle aligned content">
      <div class="center aligned">
        <i class="huge green wind icon"></i>
        <i class="big green ${_station.stationAnalytics?.windSpeedTrendIcon} icon"></i>
      </div>
      <div class="header">&nbsp;</div>
      <div class="header">
        Wind
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        Beaufort Force ${_station.latestReading?.beaufortForce}
      </div>
      <div class="meta">
        Direction: ${_station.latestReading?.cardinalWindDirection}
      </div>
      <div class="meta">
        Feels Like ${_station.latestReading?.windChill?.round(1)} °C
      </div>
      <div class="meta">
        Max: ${_station.stationAnalytics?.maxWindSpeed?.round(1)} km/h
      </div>
      <div class="meta">
        Min: ${_station.stationAnalytics?.minWindSpeed?.round(1)} km/h
      </div>
    </div>
  </div>
  <div class="card">
    <div class="center aligned middle aligned content">
      <div class="center aligned">
        <i class="huge orange compress arrows alternate icon"></i>
        <i class="big orange ${_station.stationAnalytics?.pressureTrendIcon} icon"></i>
      </div>
      <div class="header">&nbsp;</div>
      <div class="header">
        Pressure
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.pressure?.round(1)} hPa
      </div>
      <div class="meta">
        Max: ${_station.stationAnalytics?.maxPressure?.round(1)} hPa
      </div>
      <div class="meta">
        Min: ${_station.stationAnalytics?.minPressure?.round(1)} hPa
      </div>
    </div>
  </div>
</div>