<div class="ui five stackable inverted cards">
  <div class="card">
    <div class="content">
      <i class="right floated huge violet map marker alternate icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        ${_station.name}
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        Lat: ${_station.latitude}°
      </div>
      <div class="meta">
        Lat: ${_station.longitude}°
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge red ${_station.latestReading?.weatherIcon} icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        Weather
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.weatherCondition}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge blue temperature low icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        Temp
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.temperature} °C
      </div>
      <i class="right floated big blue ${_station.temperatureTrend} icon"></i>
      <div class="meta">
        ${_station.latestReading?.tempInFahrenheit} °F
      </div>
      <div class="meta">
        Max: ${_station.maxTemperature} °C
      </div>
      <div class="meta">
        Min: ${_station.minTemperature} °C
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge green wind icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        Wind
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        Beaufort Force ${_station.latestReading?.beaufortForce}
      </div>
      <i class="right floated big green ${_station.windSpeedTrend} icon"></i>
      <div class="meta">
        Direction: ${_station.latestReading?.cardinalWindDirection}
      </div>
      <div class="meta">
        Feels Like ${_station.latestReading?.windChill} °C
      </div>
      <div class="meta">
        Max: ${_station.maxWindSpeed} km/h
      </div>
      <div class="meta">
        Min: ${_station.minWindSpeed} km/h
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge orange compress arrows alternate icon"></i>
      <div class="header">&nbsp;</div>
      <div class="header">
        Pressure
      </div>
      <div class="header">&nbsp;</div>
      <div class="meta">
        ${_station.latestReading?.pressure} hPa
      </div>
      <i class="right floated big orange ${_station.pressureTrend} icon"></i>
      <div class="meta">
        Max: ${_station.maxPressure} hPa
      </div>
      <div class="meta">
        Min: ${_station.minPressure} hPa
      </div>
    </div>
  </div>
</div>