<section class="ui raised segment">
  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Date & Time</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
      <td>${reading.date.toLocaleString()}</td>
      <td>${reading.code}</td>
      <td>${reading.temperature}</td>
      <td>${reading.windSpeed}</td>
      <td>${reading.windDirection}</td>
      <td>${reading.pressure}</td>
      <td>
        <a href="/stations/${_station.id}/delete-reading/${reading.id}" class="ui icon button">
          <i class="icon trash"></i>
        </a>
      </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</section>