<div class="ui segment">
  <div class="ui center aligned middle aligned grid container">
    <div class="ui eight wide column" id="station-header">
      <i class="huge blue map marker alternate icon"></i>
      <h1 class="ui header">${_station.name}</h1>
      <div class="meta">
        Lat: ${_station.latitude.round(3)}°
      </div>
      <div class="meta">
        Lat: ${_station.longitude.round(3)}°
      </div>
    </div>
    <div class="eight wide column">
      #{station-map station:_station /}
    </div>
  </div>
</div>